/* src/components/WelcomePage.css */


.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  background-color: #fdf6e3;
  padding: 1rem;
  box-sizing: border-box;
}

.animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.animals img {
  width: 20%;
  max-width: 100%;
  height: auto;
 border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.login-btn,
.register-btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.login-btn {
  background-color: orange;
}

.register-btn {
  background-color: green;
}
